.vscode
build
build_cpp
build_poetry
install
.temp.git
__pycache__
.ipynb_checkpoints
tutorial_docs/example_cache.json
dist
poetry.lock
*.egg-info
# Don't ignore .so files in source directories (needed for Poetry)
# *.so
# Instead, ignore .so files only in specific locations
/autoware_lanelet2_extension_python/autoware_lanelet2_extension_python/*.so
/lanelet2/
