include .gitignore
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include CPPLINT.cfg
include DISCLAIMER.md
include LICENSE
include RegulationElements.ipynb
include Rosless-Lanelet2/.gitignore
include Rosless-Lanelet2/CMakeLists.txt
include Rosless-Lanelet2/CODEOWNERS
include Rosless-Lanelet2/LICENSE
include Rosless-Lanelet2/README.md
include Rosless-Lanelet2/cmake/FindGeographicLib.cmake
include Rosless-Lanelet2/cmake/FindPugiXml.cmake
include Rosless-Lanelet2/lanelet2/CHANGELOG.rst
include Rosless-Lanelet2/lanelet2/CMakeLists.txt
include Rosless-Lanelet2/lanelet2/clang-tidy-fixes.yaml
include Rosless-Lanelet2/lanelet2/codeclimate.json
include Rosless-Lanelet2/lanelet2/package.xml
include Rosless-Lanelet2/lanelet2_core/CHANGELOG.rst
include Rosless-Lanelet2/lanelet2_core/CMakeLists.txt
include Rosless-Lanelet2/lanelet2_core/README.md
include Rosless-Lanelet2/lanelet2_core/doc/Architecture.md
include Rosless-Lanelet2/lanelet2_core/doc/GeometryPrimer.md
include Rosless-Lanelet2/lanelet2_core/doc/Lanelet1Compability.md
include Rosless-Lanelet2/lanelet2_core/doc/LaneletAndAreaTagging.md
include Rosless-Lanelet2/lanelet2_core/doc/LaneletPrimitives.md
include Rosless-Lanelet2/lanelet2_core/doc/LinestringTagging.md
include Rosless-Lanelet2/lanelet2_core/doc/RegulatoryElementTagging.md
include Rosless-Lanelet2/lanelet2_core/doc/images/architecture.png
include Rosless-Lanelet2/lanelet2_core/doc/images/area.png
include Rosless-Lanelet2/lanelet2_core/doc/images/lanelet.png
include Rosless-Lanelet2/lanelet2_core/doc/images/lanelet2_example_image.png
include Rosless-Lanelet2/lanelet2_core/doc/images/linestring.png
include Rosless-Lanelet2/lanelet2_core/doc/images/max_hose_problem_small.png
include Rosless-Lanelet2/lanelet2_core/doc/images/regulatory_element.png
include Rosless-Lanelet2/lanelet2_core/example/api_style_example.cpp
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/Attribute.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/Exceptions.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/Forward.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/LaneletMap.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/geometry/Area.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/geometry/BoundingBox.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/geometry/GeometryHelper.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/geometry/Lanelet.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/geometry/LaneletMap.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/geometry/LineString.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/geometry/Point.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/geometry/Polygon.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/geometry/RegulatoryElement.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/geometry/impl/Area.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/geometry/impl/Lanelet.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/geometry/impl/LaneletMap.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/geometry/impl/LineString.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/geometry/impl/Polygon.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/Area.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/BasicRegulatoryElements.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/BoundingBox.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/CompoundLineString.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/CompoundPolygon.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/GPSPoint.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/Lanelet.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/LaneletOrArea.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/LaneletSequence.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/LineString.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/LineStringOrPolygon.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/Point.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/Polygon.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/Primitive.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/RegulatoryElement.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/primitives/Traits.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/utility/CompoundIterator.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/utility/HybridMap.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/utility/Optional.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/utility/ReverseAndForwardIterator.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/utility/TransformIterator.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/utility/Units.h
include Rosless-Lanelet2/lanelet2_core/include/lanelet2_core/utility/Utilities.h
include Rosless-Lanelet2/lanelet2_core/res/lanelet_gdb.py
include Rosless-Lanelet2/lanelet2_core/res/qtcreator_debugging_helpers.py
include Rosless-Lanelet2/lanelet2_core/src/Attribute.cpp
include Rosless-Lanelet2/lanelet2_core/src/BasicRegulatoryElements.cpp
include Rosless-Lanelet2/lanelet2_core/src/Lanelet.cpp
include Rosless-Lanelet2/lanelet2_core/src/LaneletMap.cpp
include Rosless-Lanelet2/lanelet2_core/src/LaneletSequence.cpp
include Rosless-Lanelet2/lanelet2_core/src/LineStringGeometry.cpp
include Rosless-Lanelet2/lanelet2_core/src/PolygonTriangulationGeometry.cpp
include Rosless-Lanelet2/lanelet2_core/src/RegulatoryElement.cpp
include Rosless-Lanelet2/lanelet2_core/src/RegulatoryElementGeometry.cpp
include Rosless-Lanelet2/lanelet2_core/test/lanelet_map_test_case.h
include Rosless-Lanelet2/lanelet2_core/test/test_area.cpp
include Rosless-Lanelet2/lanelet2_core/test/test_attribute.cpp
include Rosless-Lanelet2/lanelet2_core/test/test_lanelet.cpp
include Rosless-Lanelet2/lanelet2_core/test/test_lanelet_map.cpp
include Rosless-Lanelet2/lanelet2_core/test/test_lanelet_map_geometry.cpp
include Rosless-Lanelet2/lanelet2_core/test/test_lanelet_or_area.cpp
include Rosless-Lanelet2/lanelet2_core/test/test_lanelet_sequence.cpp
include Rosless-Lanelet2/lanelet2_core/test/test_linestring.cpp
include Rosless-Lanelet2/lanelet2_core/test/test_point.cpp
include Rosless-Lanelet2/lanelet2_core/test/test_polygon.cpp
include Rosless-Lanelet2/lanelet2_core/test/test_regulatory_element.cpp
include Rosless-Lanelet2/lanelet2_examples/CHANGELOG.rst
include Rosless-Lanelet2/lanelet2_examples/CMakeLists.txt
include Rosless-Lanelet2/lanelet2_examples/README.md
include Rosless-Lanelet2/lanelet2_examples/custom.cmake
include Rosless-Lanelet2/lanelet2_examples/include/lanelet2_examples/internal/ExampleHelpers.h
include Rosless-Lanelet2/lanelet2_examples/package.xml
include Rosless-Lanelet2/lanelet2_examples/scripts/tutorial.py
include Rosless-Lanelet2/lanelet2_examples/src/01_dealing_with_lanelet_primitives/main.cpp
include Rosless-Lanelet2/lanelet2_examples/src/02_regulatory_elements/main.cpp
include Rosless-Lanelet2/lanelet2_examples/src/03_lanelet_map/main.cpp
include Rosless-Lanelet2/lanelet2_examples/src/04_reading_and_writing/main.cpp
include Rosless-Lanelet2/lanelet2_examples/src/05_traffic_rules/main.cpp
include Rosless-Lanelet2/lanelet2_examples/src/06_routing/main.cpp
include Rosless-Lanelet2/lanelet2_examples/src/07_matching/main.cpp
include Rosless-Lanelet2/lanelet2_examples/test/test_examples.py
include Rosless-Lanelet2/lanelet2_io/CHANGELOG.rst
include Rosless-Lanelet2/lanelet2_io/CMakeLists.txt
include Rosless-Lanelet2/lanelet2_io/README.md
include Rosless-Lanelet2/lanelet2_io/include/lanelet2_io/Configuration.h
include Rosless-Lanelet2/lanelet2_io/include/lanelet2_io/Exceptions.h
include Rosless-Lanelet2/lanelet2_io/include/lanelet2_io/Io.h
include Rosless-Lanelet2/lanelet2_io/include/lanelet2_io/Projection.h
include Rosless-Lanelet2/lanelet2_io/include/lanelet2_io/internal/.gitignore
include Rosless-Lanelet2/lanelet2_io/include/lanelet2_io/io_handlers/BinHandler.h
include Rosless-Lanelet2/lanelet2_io/include/lanelet2_io/io_handlers/Factory.h
include Rosless-Lanelet2/lanelet2_io/include/lanelet2_io/io_handlers/IoHandler.h
include Rosless-Lanelet2/lanelet2_io/include/lanelet2_io/io_handlers/OsmFile.h
include Rosless-Lanelet2/lanelet2_io/include/lanelet2_io/io_handlers/OsmHandler.h
include Rosless-Lanelet2/lanelet2_io/include/lanelet2_io/io_handlers/Parser.h
include Rosless-Lanelet2/lanelet2_io/include/lanelet2_io/io_handlers/Serialize.h
include Rosless-Lanelet2/lanelet2_io/include/lanelet2_io/io_handlers/Writer.h
include Rosless-Lanelet2/lanelet2_io/src/.gitignore
include Rosless-Lanelet2/lanelet2_io/src/BinHandler.cpp
include Rosless-Lanelet2/lanelet2_io/src/Factory.cpp
include Rosless-Lanelet2/lanelet2_io/src/Io.cpp
include Rosless-Lanelet2/lanelet2_io/src/OsmFile.cpp
include Rosless-Lanelet2/lanelet2_io/src/OsmHandlerLoad.cpp
include Rosless-Lanelet2/lanelet2_io/src/OsmHandlerWrite.cpp
include Rosless-Lanelet2/lanelet2_io/test/TestBinHandler.cpp
include Rosless-Lanelet2/lanelet2_io/test/TestLanelet2Io.cpp
include Rosless-Lanelet2/lanelet2_io/test/TestOsmFile.cpp
include Rosless-Lanelet2/lanelet2_io/test/TestOsmHandler.cpp
include Rosless-Lanelet2/lanelet2_io/test/TestSetup.h
include Rosless-Lanelet2/lanelet2_io/test/TestSimpleUsage.cpp
include Rosless-Lanelet2/lanelet2_maps/CHANGELOG.rst
include Rosless-Lanelet2/lanelet2_maps/CMakeLists.txt
include Rosless-Lanelet2/lanelet2_maps/README.md
include Rosless-Lanelet2/lanelet2_maps/include/lanelet2_maps/internal/.gitignore
include Rosless-Lanelet2/lanelet2_maps/josm/.gitignore
include Rosless-Lanelet2/lanelet2_maps/josm/laneletpresets.xml
include Rosless-Lanelet2/lanelet2_maps/josm/lanelets.mapcss
include Rosless-Lanelet2/lanelet2_maps/josm/lines.mapcss
include Rosless-Lanelet2/lanelet2_maps/josm/style_images.zip
include Rosless-Lanelet2/lanelet2_maps/package.xml
include Rosless-Lanelet2/lanelet2_maps/res/mapping_example-debug.osm
include Rosless-Lanelet2/lanelet2_maps/res/mapping_example.osm
include Rosless-Lanelet2/lanelet2_matching/CMakeLists.txt
include Rosless-Lanelet2/lanelet2_matching/README.md
include Rosless-Lanelet2/lanelet2_matching/cmake/lanelet2_matching-config.cmake.in
include Rosless-Lanelet2/lanelet2_matching/include/lanelet2_matching/Exceptions.h
include Rosless-Lanelet2/lanelet2_matching/include/lanelet2_matching/LaneletMatching.h
include Rosless-Lanelet2/lanelet2_matching/include/lanelet2_matching/Types.h
include Rosless-Lanelet2/lanelet2_matching/include/lanelet2_matching/Utilities.h
include Rosless-Lanelet2/lanelet2_matching/include/lanelet2_matching/internal/.gitignore
include Rosless-Lanelet2/lanelet2_matching/src/.gitignore
include Rosless-Lanelet2/lanelet2_matching/src/LaneletMatching.cpp
include Rosless-Lanelet2/lanelet2_matching/src/Utilities.cpp
include Rosless-Lanelet2/lanelet2_matching/test/lanelet2_matching.cpp
include Rosless-Lanelet2/lanelet2_projection/CHANGELOG.rst
include Rosless-Lanelet2/lanelet2_projection/CMakeLists.txt
include Rosless-Lanelet2/lanelet2_projection/README.md
include Rosless-Lanelet2/lanelet2_projection/doc/Map_Projections_Coordinate_Systems.md
include Rosless-Lanelet2/lanelet2_projection/include/lanelet2_projection/CPM.h
include Rosless-Lanelet2/lanelet2_projection/include/lanelet2_projection/Mercator.h
include Rosless-Lanelet2/lanelet2_projection/include/lanelet2_projection/UTM.h
include Rosless-Lanelet2/lanelet2_projection/include/lanelet2_projection/internal/.gitignore
include Rosless-Lanelet2/lanelet2_projection/src/.gitignore
include Rosless-Lanelet2/lanelet2_projection/src/CPM.cpp
include Rosless-Lanelet2/lanelet2_projection/src/UTM.cpp
include Rosless-Lanelet2/lanelet2_projection/test/test_Mercator.cpp
include Rosless-Lanelet2/lanelet2_projection/test/test_UTM.cpp
include Rosless-Lanelet2/lanelet2_python/CHANGELOG.rst
include Rosless-Lanelet2/lanelet2_python/CMakeLists.txt
include Rosless-Lanelet2/lanelet2_python/README.md
include Rosless-Lanelet2/lanelet2_python/include/lanelet2_python/internal/converter.h
include Rosless-Lanelet2/lanelet2_python/package.xml
include Rosless-Lanelet2/lanelet2_python/python_api/core.cpp
include Rosless-Lanelet2/lanelet2_python/python_api/geometry.cpp
include Rosless-Lanelet2/lanelet2_python/python_api/io.cpp
include Rosless-Lanelet2/lanelet2_python/python_api/matching.cpp
include Rosless-Lanelet2/lanelet2_python/python_api/projection.cpp
include Rosless-Lanelet2/lanelet2_python/python_api/routing.cpp
include Rosless-Lanelet2/lanelet2_python/python_api/traffic_rules.cpp
include Rosless-Lanelet2/lanelet2_python/scripts/create_debug_routing_graph.py
include Rosless-Lanelet2/lanelet2_python/scripts/make_ids_positive.py
include Rosless-Lanelet2/lanelet2_python/scripts/print_ids.py
include Rosless-Lanelet2/lanelet2_python/test/test_lanelet2.py
include Rosless-Lanelet2/lanelet2_python/test/test_lanelet2_matching.py
include Rosless-Lanelet2/lanelet2_routing/CHANGELOG.rst
include Rosless-Lanelet2/lanelet2_routing/CMakeLists.txt
include Rosless-Lanelet2/lanelet2_routing/README.md
include Rosless-Lanelet2/lanelet2_routing/doc/images/components.png
include Rosless-Lanelet2/lanelet2_routing/doc/images/components.svg
include Rosless-Lanelet2/lanelet2_routing/doc/images/lanelet_map_route.png
include Rosless-Lanelet2/lanelet2_routing/doc/images/lanelet_map_route.svg
include Rosless-Lanelet2/lanelet2_routing/doc/images/lanelet_map_route_oststadtkreisel_small.jpg
include Rosless-Lanelet2/lanelet2_routing/doc/images/lanelet_map_routing_graph.png
include Rosless-Lanelet2/lanelet2_routing/doc/images/lanelet_map_routing_graph.svg
include Rosless-Lanelet2/lanelet2_routing/doc/images/max-hose.png
include Rosless-Lanelet2/lanelet2_routing/doc/images/max-hose.svg
include Rosless-Lanelet2/lanelet2_routing/doc/images/shortest_path_and_route.png
include Rosless-Lanelet2/lanelet2_routing/doc/images/shortest_path_and_route.svg
include Rosless-Lanelet2/lanelet2_routing/doc/lanelet2_routing.html
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/Exceptions.h
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/Forward.h
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/LaneletPath.h
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/Route.h
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/RoutingCost.h
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/RoutingGraph.h
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/RoutingGraphContainer.h
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/Types.h
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/internal/.gitignore
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/internal/Graph.h
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/internal/GraphUtils.h
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/internal/RouteBuilder.h
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/internal/RoutingGraphBuilder.h
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/internal/RoutingGraphVisualization.h
include Rosless-Lanelet2/lanelet2_routing/include/lanelet2_routing/internal/ShortestPath.h
include Rosless-Lanelet2/lanelet2_routing/res/routing.mapcss
include Rosless-Lanelet2/lanelet2_routing/src/.gitignore
include Rosless-Lanelet2/lanelet2_routing/src/LaneletPath.cpp
include Rosless-Lanelet2/lanelet2_routing/src/Route.cpp
include Rosless-Lanelet2/lanelet2_routing/src/RouteBuilder.cpp
include Rosless-Lanelet2/lanelet2_routing/src/RoutingCost.cpp
include Rosless-Lanelet2/lanelet2_routing/src/RoutingGraph.cpp
include Rosless-Lanelet2/lanelet2_routing/src/RoutingGraphBuilder.cpp
include Rosless-Lanelet2/lanelet2_routing/test/LaneletTestMap.xml
include Rosless-Lanelet2/lanelet2_routing/test/test_lanelet_or_area_path.cpp
include Rosless-Lanelet2/lanelet2_routing/test/test_relations.cpp
include Rosless-Lanelet2/lanelet2_routing/test/test_route.cpp
include Rosless-Lanelet2/lanelet2_routing/test/test_routing.cpp
include Rosless-Lanelet2/lanelet2_routing/test/test_routing_graph_container.cpp
include Rosless-Lanelet2/lanelet2_routing/test/test_routing_map.h
include Rosless-Lanelet2/lanelet2_routing/test/test_routing_visualization.cpp
include Rosless-Lanelet2/lanelet2_traffic_rules/CHANGELOG.rst
include Rosless-Lanelet2/lanelet2_traffic_rules/CMakeLists.txt
include Rosless-Lanelet2/lanelet2_traffic_rules/README.md
include Rosless-Lanelet2/lanelet2_traffic_rules/include/lanelet2_traffic_rules/Exceptions.h
include Rosless-Lanelet2/lanelet2_traffic_rules/include/lanelet2_traffic_rules/GenericTrafficRules.h
include Rosless-Lanelet2/lanelet2_traffic_rules/include/lanelet2_traffic_rules/GermanTrafficRules.h
include Rosless-Lanelet2/lanelet2_traffic_rules/include/lanelet2_traffic_rules/TrafficRules.h
include Rosless-Lanelet2/lanelet2_traffic_rules/include/lanelet2_traffic_rules/TrafficRulesFactory.h
include Rosless-Lanelet2/lanelet2_traffic_rules/include/lanelet2_traffic_rules/internal/.gitignore
include Rosless-Lanelet2/lanelet2_traffic_rules/src/.gitignore
include Rosless-Lanelet2/lanelet2_traffic_rules/src/GenericTrafficRules.cpp
include Rosless-Lanelet2/lanelet2_traffic_rules/src/GermanTrafficRules.cpp
include Rosless-Lanelet2/lanelet2_traffic_rules/src/TrafficRulesFactory.cpp
include Rosless-Lanelet2/lanelet2_traffic_rules/test/lanelet2_traffic_rules.cpp
include Rosless-Lanelet2/lanelet2_validation/CHANGELOG.rst
include Rosless-Lanelet2/lanelet2_validation/CMakeLists.txt
include Rosless-Lanelet2/lanelet2_validation/README.md
include Rosless-Lanelet2/lanelet2_validation/include/lanelet2_validation/BasicValidator.h
include Rosless-Lanelet2/lanelet2_validation/include/lanelet2_validation/Cli.h
include Rosless-Lanelet2/lanelet2_validation/include/lanelet2_validation/Issue.h
include Rosless-Lanelet2/lanelet2_validation/include/lanelet2_validation/Validation.h
include Rosless-Lanelet2/lanelet2_validation/include/lanelet2_validation/ValidatorFactory.h
include Rosless-Lanelet2/lanelet2_validation/include/lanelet2_validation/internal/.gitignore
include Rosless-Lanelet2/lanelet2_validation/include/lanelet2_validation/validators/mapping/BoolTags.h
include Rosless-Lanelet2/lanelet2_validation/include/lanelet2_validation/validators/mapping/CurvatureTooBig.h
include Rosless-Lanelet2/lanelet2_validation/include/lanelet2_validation/validators/mapping/DuplicatedPoints.h
include Rosless-Lanelet2/lanelet2_validation/include/lanelet2_validation/validators/mapping/MandatoryTags.h
include Rosless-Lanelet2/lanelet2_validation/include/lanelet2_validation/validators/mapping/PointsTooClose.h
include Rosless-Lanelet2/lanelet2_validation/include/lanelet2_validation/validators/mapping/UnknownTagValue.h
include Rosless-Lanelet2/lanelet2_validation/include/lanelet2_validation/validators/mapping/UnknownTags.h
include Rosless-Lanelet2/lanelet2_validation/include/lanelet2_validation/validators/routing/RoutingGraphIsValid.h
include Rosless-Lanelet2/lanelet2_validation/src/BasicValidator.cpp
include Rosless-Lanelet2/lanelet2_validation/src/Cli.cpp
include Rosless-Lanelet2/lanelet2_validation/src/Validation.cpp
include Rosless-Lanelet2/lanelet2_validation/src/ValidatorFactory.cpp
include Rosless-Lanelet2/lanelet2_validation/src/validators/CheckTags.cpp
include Rosless-Lanelet2/lanelet2_validation/src/validators/CurvatureTooBig.cpp
include Rosless-Lanelet2/lanelet2_validation/src/validators/DuplicatedPoints.cpp
include Rosless-Lanelet2/lanelet2_validation/src/validators/PointsTooClose.cpp
include Rosless-Lanelet2/lanelet2_validation/src/validators/RoutingGraphIsValid.cpp
include Rosless-Lanelet2/lanelet2_validation/test/lanelet2_validation.cpp
include Rosless-Lanelet2/lanelet2_validation/tools/lanelet2_validate/main.cpp
include autoware_lanelet2_extension/CHANGELOG.rst
include autoware_lanelet2_extension/CMakeLists.txt
include autoware_lanelet2_extension/README.md
include autoware_lanelet2_extension/cmake/FindGeographicLib.cmake
include autoware_lanelet2_extension/cmake/FindLanelet2.cmake
include autoware_lanelet2_extension/cmake/GeographicLibConfig.cmake
include autoware_lanelet2_extension/cmake/lanelet2_extensionConfig.cmake.in
include autoware_lanelet2_extension/docs/bicycle_lane.drawio.svg
include autoware_lanelet2_extension/docs/bus_stop_area.drawio.svg
include autoware_lanelet2_extension/docs/crosswalk_regulatory_element.svg
include autoware_lanelet2_extension/docs/crosswalk_traffic_light.svg
include autoware_lanelet2_extension/docs/detection_area.png
include autoware_lanelet2_extension/docs/extra_lanelet_subtypes.md
include autoware_lanelet2_extension/docs/extra_regulatory_elements.md
include autoware_lanelet2_extension/docs/lanelet2_format_extension.md
include autoware_lanelet2_extension/docs/light_bulbs.png
include autoware_lanelet2_extension/docs/localization_landmark.drawio.svg
include autoware_lanelet2_extension/docs/pedestrian_lane.svg
include autoware_lanelet2_extension/docs/right_of_way.drawio.svg
include autoware_lanelet2_extension/docs/road_mark.png
include autoware_lanelet2_extension/docs/road_shoulder.svg
include autoware_lanelet2_extension/docs/speed_bump.png
include autoware_lanelet2_extension/docs/traffic_light.png
include autoware_lanelet2_extension/docs/traffic_light_regulatory_element.png
include autoware_lanelet2_extension/docs/turn_direction.png
include autoware_lanelet2_extension/include/lanelet2_extension/io/autoware_osm_parser.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/localization/landmark.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/projection/mgrs_projector.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/projection/transverse_mercator_projector.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/regulatory_elements/Forward.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/regulatory_elements/autoware_traffic_light.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/regulatory_elements/bus_stop_area.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/regulatory_elements/crosswalk.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/regulatory_elements/detection_area.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/regulatory_elements/no_parking_area.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/regulatory_elements/no_stopping_area.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/regulatory_elements/road_marking.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/regulatory_elements/speed_bump.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/regulatory_elements/virtual_traffic_light.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/utility/message_conversion.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/utility/query.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/utility/route_checker.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/utility/utilities.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/version.hpp
include autoware_lanelet2_extension/include/lanelet2_extension/visualization/visualization.hpp
include autoware_lanelet2_extension/lib/autoware_osm_parser.cpp
include autoware_lanelet2_extension/lib/autoware_traffic_light.cpp
include autoware_lanelet2_extension/lib/bus_stop_area.cpp
include autoware_lanelet2_extension/lib/crosswalk.cpp
include autoware_lanelet2_extension/lib/detection_area.cpp
include autoware_lanelet2_extension/lib/mgrs_projector.cpp
include autoware_lanelet2_extension/lib/no_parking_area.cpp
include autoware_lanelet2_extension/lib/no_stopping_area.cpp
include autoware_lanelet2_extension/lib/query.cpp
include autoware_lanelet2_extension/lib/road_marking.cpp
include autoware_lanelet2_extension/lib/speed_bump.cpp
include autoware_lanelet2_extension/lib/transverse_mercator_projector.cpp
include autoware_lanelet2_extension/lib/utilities.cpp
include autoware_lanelet2_extension/lib/virtual_traffic_light.cpp
include autoware_lanelet2_extension/lib/visualization.cpp
include autoware_lanelet2_extension/package.xml
include autoware_lanelet2_extension/src/check_right_of_way.cpp
include autoware_lanelet2_extension/src/sample_code.cpp
include autoware_lanelet2_extension/src/validation.cpp
include autoware_lanelet2_extension/test/src/test_projector.cpp
include autoware_lanelet2_extension/test/src/test_query.cpp
include autoware_lanelet2_extension/test/src/test_regulatory_elements.cpp
include autoware_lanelet2_extension/test/src/test_utilities.cpp
include autoware_lanelet2_extension_python/CHANGELOG.rst
include autoware_lanelet2_extension_python/CMakeLists.txt
include autoware_lanelet2_extension_python/README.md
include autoware_lanelet2_extension_python/autoware_lanelet2_extension_python/__init__.py
include autoware_lanelet2_extension_python/autoware_lanelet2_extension_python/impl/__init__.py
include autoware_lanelet2_extension_python/autoware_lanelet2_extension_python/projection/__init__.py
include autoware_lanelet2_extension_python/autoware_lanelet2_extension_python/regulatory_elements/__init__.py
include autoware_lanelet2_extension_python/autoware_lanelet2_extension_python/utility/__init__.py
include autoware_lanelet2_extension_python/autoware_lanelet2_extension_python/utility/query.py
include autoware_lanelet2_extension_python/autoware_lanelet2_extension_python/utility/utilities.py
include autoware_lanelet2_extension_python/docs/regulatory_elements.md
include autoware_lanelet2_extension_python/example/example.py
include autoware_lanelet2_extension_python/package.xml
include autoware_lanelet2_extension_python/src/projection.cpp
include autoware_lanelet2_extension_python/src/regulatory_elements.cpp
include autoware_lanelet2_extension_python/src/utility.cpp
include basic_lanelet2_extraction.ipynb
include build.sh
include codecov.yaml
include example.py
include example2.py
include example_loader.py
include loader.py
include map_projector_info.py
include pre-install.sh
include readme.md
include setup.bash
include setup.cfg
include tutorial_docs/odaiba_lanelet1017.png
include tutorial_docs/odaiba_map_example.png
exclude MANIFEST.in